.home {
  margin-top: 20px;
}

.home-container {
  position: relative;
  text-align: center;
}

.home-container img {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-invitation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  max-width: 500px;
}

.home-invitation h1 {
  margin-bottom: 20px;
}

.home-invitation p {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 769px) {
  .home {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .home-container {
    overflow-x: hidden;
  }

  .home-container img {
    object-fit: cover;
    width: auto;
    height: auto;
  }
}
