.header-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 0px 40px;
}

.header-info p {
  margin-bottom: 0;
}

.header-title {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .header-info {
    display: none;
  }

  .header-title {
    display: none;
  }
}
