.signup-container {
  display: flex;
  justify-content: center;
}

.signup-container form {
  min-width: 415px;
}

.signup-result {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signup-result p {
  max-width: 415px;
}

.signup-result.signup-failure {
  max-width: 415px;
}
