.signup-container {
  display: flex;
  justify-content: center;
}

.signup-container form {
  margin-bottom: 60px;
}

.signup-container .btn-primary {
  background-color: transparent;
  color: #212529 !important;
  border: none !important;
}

.signup-container .btn-primary:active,
.signup-container .btn-primary:focus {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.signup-container .btn-primary:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.signup-result {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signup-result p {
  max-width: 300px;
}

.signup-result.signup-failure {
  max-width: 300px;
}

@media (min-width: 768px) {
  .signup-container form {
    min-width: 600px;
  }
}

@media (max-width: 768px) {
  .signup-container form {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .signup-container form {
    width: 90%;
  }
}
