body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebe8e2;
  background: url('resources/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type='file'] {
  width: 100%;
}
